
.add

	display: inline
	height: 40px
	width: 49.5%

.cnotes
	
	background-color: aquamarine

.mainContainer

	background-color: floralwhite
	margin: 12px auto
	width: 99%

.l-note
	
	background-color: mediumvioletred
	display: block
	height: 50px
	margin-bottom: 6px
	padding: 6px
	width: auto

.note

	background-color: khaki
	box-shadow: 1px 2px 3px black
	display: inline-block
	font-size: 16px
	height: 170px
	margin: 12px
	overflow: auto
	padding: 12px
	position: relative
	text-align: justify
	width: 270px

.notesContainer
	
		background-color: floralwhite
		width: 75%

.notesCounter

	background-color: aquamarine
	padding: 10px
	width: 20%


.notesContainer, .notesCounter

	display: inline-block
	height: 445px
	overflow: auto

.cnotes ul
	
	list-style: none
	margin-left: -40px
